.chart {
    padding: 2rem;
    margin-top: 1.5rem;
    -webkit-box-shadow: -2px 4px 8px 2px rgba(0, 0, 0, 0.19);
    box-shadow: -2px 4px 8px 2px rgba(0, 0, 0, 0.19);
    max-width: 100vw;

    .chartTitle {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
}