.featured {
    height: 90vh;
    position: relative;

    .category {
        position: absolute;
        top: 5rem;
        left: 3rem;
        font-size: 2rem;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;

        select {
            cursor: pointer;
            background-color: var(--main-color);
            border: 1px solid black;
            color: white;
            margin-left: 1.25rem;
            padding-left: .4rem;
            height: 2rem;

        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info {
        max-width: 45ch;
        position: absolute;
        left: 3rem;
        top: 6rem;
        color: white;
        display: flex;
        flex-direction: column;

        .desc {
            margin: 1.25rem 0rem;
            line-height: 2;
            max-height: 10rem;
            overflow: scroll;

        }

        .buttons {
            display: flex;
            gap: .8rem;

            button {
                padding: .8rem 1.25rem;
                border: none;
                border-radius: .45rem;
                display: flex;
                justify-content: center;
                gap: .3rem;
                align-items: center;
                font-size: 1.1rem;
                cursor: pointer;

                &.play {
                    background-color: white;
                    color: var(--main-color);
                }

                &.more {
                    background-color: rgba(133, 133, 133, 0.95);
                    color: white;
                }
            }
        }
    }

    .adjusted {
        top: 8rem;
    }
}