.productList {
    flex: 4;

    .productCell {
        display: flex;
        gap: .5rem;
        align-items: center;

        .productCellImg {
            object-fit: contain;
            width: 3rem;
            height: 3rem;
        }

    }

    .productCellEdit {
        background-color: rgb(94, 220, 94);
        border: none;
        padding: .5rem 1rem;
        margin-right: 2rem;
        border-radius: .3rem;
        cursor: pointer;
        color: white;

        &:hover,
        &:active {
            background-color: rgb(124, 227, 124);
        }
    }

    .productCellDelete {
        cursor: pointer;

        &:hover,
        &:active {
            color: red;
        }
    }
}